@model Estore.Models.User

@{
    User user = null;
    List<Item> items = null;
    ViewData["Title"] = "Not found";
    ViewData["ShowSearchInNavbar"] = true;
    if (ViewBag.User != null)
    {
        user = (User)ViewBag.User;
        items = (List<Item>)ViewBag.Items;
        ViewData["Title"] = ViewFunc.NormaliseName(user.Username, 25) + "'s profile";
    }
}

<div class="pt-5">
    @if (user == null)
    {
        <div class="dz-error animate__animated animate__fadeInUp text-center">
            <h2>404 - Not found</h2>
            <h5 class="text-muted">No such user exists.</h5>
        </div>
    }
    else
    {
        <div class="container-fluid text-center">
            <img src="~/img/generic/user.png" class="user-image" /><br />
            <h2 class="display-5 pt-1">@user.Username</h2>
            <div class="justify-content-center align-items-center">
                <p class="subtext pt-2">
                    Join date: @user.DateOfRegistration.ToLongDateString() <br />
                    Buyer rating: 50% <br />
                    Seller rating: 50%
                </p>
            </div>
        </div>
        <br /><hr />

        <div id="item-container">
            <h4>Items this user is selling</h4>
            @if (items.Count > 0)
            {
                <div class="row col-sm-12 pt-4">
                    @foreach (Item item in items)
                    {
                        var img = ViewFunc.GetImageUrls(item)[0];
                        var boxstyle = "background-image: url('" + img + "') !important";
                        <div class="col-sm-2 item-preview" style="@boxstyle" onclick="location.href = '/item/@item.FindCode'">
                            <font color="white">
                                @ViewFunc.NormaliseName(item.Name, 22)
                                <span><i>£@item.Price</i></span>
                            </font>
                        </div>
                    }
                </div>
            }
            else
            {
                <p class="pt-4">This user is not selling any items.</p>
            }
        </div>
    }
</div>