@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="errortext">Error.</h1>
<h2 class="errortext">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}