@{
    Item item = (Item) ViewBag.PurchasedItem;
    ViewData["Title"] = "Success: " + item.Name;
    var img = ViewFunc.GetImageUrls(item)[0];
}

<div id="result-container">
    <hr />
    <div id="preview-container" class="row">
        <div class="col-2">
            <img src="@img" class="search-result-image" />
        </div>
        <div class="col-9">
            <h5>Purchase successful</h5>
            <h6>@item.Name</h6>
            <span class="text-secondary">
                @item.GetConditionDisplayName(item.Quality)
            </span>
        </div>
    </div>
    <div class="pt-5">
        <div id="options-container">
            <button type="button" class="btn btn-outline-primary btn-lg btn-block">
                Leave feedback for the seller
            </button><br />
            <button type="button" class="btn btn-outline-primary btn-lg btn-block">
                Write a review for this item
            </button><br />
            <button type="button" class="btn btn-outline-info btn-lg btn-block">
                Report a problem with your order
            </button>
        </div>
    </div>
    <hr />
</div>