@model EcomProofOfConcept.Models.Item

@{ 
    ViewData["Title"] = "Sell an item";
}

<h1>
    Sell an item
</h1>

<form method="post" asp-controller="Sell">
    <table>
        <tr>
            <td>Listing title:</td>
            <td>
                <input type="text" class="sellinp" name="name" asp-for="Name" autocomplete="off" /><br />
            </td>
        </tr>
        <tr class="extraheight"><td></td><td><span asp-validation-for="Name" class="errortext"></span></td></tr>
        <tr>
            <td>Condition:</td>
            <td>
                <table>
                    <tr>
                        <td>Used</td>
                        <td>@Html.RadioButtonFor(model => model.Condition, "Used")</td>
                    </tr>
                    <tr>
                        <td>
                            New
                        </td>
                        <td>
                            @Html.RadioButtonFor(model => model.Condition, "New")
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="extraheight"><td></td><td><span asp-validation-for="Condition" class="errortext"></span></td></tr>
        <tr>
            <td>Price:</td>
            <td>
                <input type="text" class="sellinp" name="price" asp-for="Price" autocomplete="off" /><br />
            </td>
        </tr>
        <tr class="extraheight"><td></td><td><span asp-validation-for="Price" class="errortext"></span></td></tr>
        <tr>
            <td>Description:</td>
            <td>
                <textarea name="description" class="sellinp" asp-for="Description" autocomplete="off" ></textarea><br />
            </td>
        </tr>
        <tr class="extraheight"><td></td><td><span asp-validation-for="Description" class="errortext"></span></td></tr>
    </table>
    <input type="submit" value="Done" />
</form>