@model AuctionSystemPOC.Models.Item

@{
    ViewData["Title"] = "Sell an item";
}

<center>
    <h1 class = "display-4">
        List an item
    </h1>

    <form method="post" asp-controller="Sell">
        <b>Listing title:</b><br />
        <input type="text" class="sellinp" name="name" asp-for="Name" autocomplete="off" /><br />
        <span asp-validation-for="Name" class="errortext"></span>
        <br /><b>Condition</b><br />
        Used
        @Html.RadioButtonFor(model => model.Condition, "Used")
        <br />
        New
        @Html.RadioButtonFor(model => model.Condition, "New")
        <br /><span asp-validation-for="Condition" class="errortext"></span>
        <br />
        <b>Starting Price:</b><br />
        <input type="text" class="sellinp" name="price" asp-for="Price" autocomplete="off" /><br />
        <span asp-validation-for="Price" class="errortext"></span>

        <br />
        <b>Description:</b><br />
        <textarea name="description" class="sellinp" asp-for="Description" autocomplete="off"></textarea><br />
        <span asp-validation-for="Description" class="errortext"></span><br />
        <br /><input type="submit" value="Done"/>
    </form>
</center>