@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Home";
    string homemsg = "Welcome";
    if (Context.Session.GetString("Name") != null) homemsg += ", " + Context.Session.GetString("Name"); 
}

<div class="text-center">
    <h1 class="display-4">@homemsg</h1>
    <p>Landing page.</p>
</div>