@model EcomProofOfConcept.Models.User
@{
    ViewData["Title"] = "Sign Up";
}

<br /><br />
<form method="post" asp-controller="SignUp">
    <table class="signupformtable">
        <tr>
            <td class="labelwidth">Username:</td>
            <td class="inputwidth">
                <input type="text" name="username" asp-for="Username" autocomplete="off" /><br />
            </td>
        </tr>
        <tr><td></td><td><span asp-validation-for="Username" class="errortext"></span></td></tr>
        <tr>
            <td>Email:</td>
            <td>
                <input type="text" name="email" asp-for="Email" autocomplete="off" /><br />
            </td>
        </tr>
        <tr class="extraheight"><td></td><td><span asp-validation-for="Email" class="errortext"></span></td></tr>
        <tr>
            <td>Password:</td>
            <td>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })<br />
            </td>
        </tr>
        <tr class="extraheight"><td></td><td><span asp-validation-for="Password" class="errortext"></span></td></tr>
    </table>
    <input type="submit" value="Done" />
</form>
