@{
    string title = "Not found";
    if (ViewBag.ThisItem != null)
    {
        title = ((Item) ViewBag.ThisItem).Name;
    }
    ViewData["Title"] = title;
    ViewData["ShowSearchInNavbar"] = true;
}

<div class="nonbscontainer">
    @if (ViewBag.ThisItem == null)
    {
        <center>
            <div class="dz-error animate__animated animate__fadeInUp pt-5">
                <h2>404 - Not found</h2>
                <h5 class="text-muted">No such item exists.</h5>
            </div>
        </center>
    }
    else
    {
        Item item = (Item)ViewBag.ThisItem;
        <br /><br />
        <div class="container">
            <h3>@item.Name</h3>
            <p>
                Description: @item.Description <br />
                Condition: @item.GetConditionDisplayName(item.Quality)<br /><br />
                Images: <br />
                @if (item.ImageUrls != null)
                {
                    foreach (string url in item.ImageUrls)
                    {
                        var newurl = url.Substring(url.IndexOf("img"));
                        <img src="~/@newurl" />
                    }
                }
                else
                {
                    <span>(Generic image placeholder)</span>
                }
            </p>
        </div>
        <br /><br />
    }
</div>
