@{
    string title = "Not found";
    if (ViewBag.ThisItem != null)
    {
        title = ((Item)ViewBag.ThisItem).Name;
    }
    ViewData["Title"] = title;
    ViewData["ShowSearchInNavbar"] = true;
}

<link rel="stylesheet" href="~/lib/viewer/viewer.min.css" />

<div class="nonbscontainer">
    @if (ViewBag.ThisItem == null)
    {
        <center>
            <div class="dz-error animate__animated animate__fadeInUp pt-5">
                <h2>404 - Not found</h2>
                <h5 class="text-muted">No such item exists.</h5>
            </div>
        </center>
    }
    else
    {
        Item item = (Item)ViewBag.ThisItem;
        <br /><br />
              <div class="container">
                  <h3>@item.Name</h3>
                  <br /><br />
                  <div class="row pl-3">
                      <p>
                          <div class="col-md-4" style="height: 370px !important">
                              @if (item.ImageUrls != null)
                              {
                                  <ul id="images">
                                      <li style="list-style-type: none;">
                                          @foreach (string url in item.ImageUrls)
                                          {
                                              var newurl = url.Substring(url.IndexOf("img"));
                                              <img src="~/@newurl" style="height: 400px !important; display: none;" />
                                          }
                                      </li>
                                  </ul>
                              }
                              else
                              {
                                  <span>(Generic image placeholder)</span>
                              }
                          </div>
                          <div class="col-md-6">
                              <p class="pl-2">Description: @item.Description
                              <br />Condition: @item.GetConditionDisplayName(item.Quality)</p>
                          </div>
                      </p>
                  </div>
              </div>
        <br /><br />
    }
</div>

<script src="~/lib/viewer/viewer.min.js"></script>
<script>
    const viewer = new Viewer(document.getElementById('images'), {
        inline: true,
        minHeight: 10,
        maxHeight: 50,
        toolbar: false,
        title: false,
        viewed() {
            viewer.resize();
        },
    });
</script>