@model Estore.Models.User

@{
    ViewData["Title"] = "Register";
}

<center>
    <br /><br />
    <h2 class="display-5">&nbsp;Create an account</h2>
    <br /><br />
    Success, you can now sign in <a href="/signin">here</a>
</center>
<br /><br />
