@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Home";
    string ext = "Welcome";
    if (Context.Session.GetString("Name") != null) ext += ", " + Context.Session.GetString("Name");
}

<h1 class="display-4">
    @ext
</h1>

<p>This is the <font color="blue">landing page</font></p>
