@model AuctionSystemPOC.Models.SignInViewModel
@{
    ViewData["Title"] = "Sign in";
}

<div class="text-center">
    <h1 class="display-4">Choose username</h1>
    <form method="post" asp-controller="SignIn">
        <input type="text" asp-for="Username" name="Username" />
        <input type="submit" value="Done" />
    </form>
    <br />
    <span class="errortext" asp-validation-for="Username"></span>
</div>
