@{
    ViewData["Title"] = "Home";
}

<center>
    <div class="pt-5"></div>
    <h1>
        <img src="~/img/generic/brand.png" style="height: 5.4em;"/>
    </h1>
    <br />
    <div class="form-inline justify-content-md-center pt-4">
        <select name="Categories" id="Categories" class="form-control col-sm-auto">
            <option value="All">All Categories</option>
            <option value="Misc">Misc</option>
        </select>
        &nbsp;
        <input type="search" id="search" class="form-control col-sm-5" placeholder="Search" autofocus />
        &nbsp;
        <button type="button" class="btn btn-outline-primary" onclick="javascript:go()">
            Go
        </button>
    </div>
    <br /><br />
    @{
        List<Item> items = new List<Item>();
        if (ViewBag.ViewingHistory != null)
        {
            items = (List<Item>)ViewBag.ViewingHistory;
            <hr class="pt-4"/>
            <h4>Based on your viewing history</h4>
            <br />
            <div class="pt-4 owl-carousel col-md-12" id="viewed-carousel">
                @for (int i = 0; i < items.Count; i++)
                {
                    Item item = items[i];
                    string finurl = ViewFunc.GetImageUrls(item)[0],
                           pname = ViewFunc.NormaliseName(item.Name, 20);
                    <div class="item">
                        <a href="/item/@item.FindCode">
                            <img src="@finurl" class="s-edge carousel-image" />
                        </a>
                        <br />
                        <div class="d-md-block">
                            <h5><a href="/item/@item.FindCode">@pname</a></h5>
                            <h6>@item.GetConditionDisplayName(item.Quality)</h6>
                            <p><b>£@item.Price</b></p>
                        </div>
                    </div>
                }
            </div>
        }
    }
</center>