@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Home";
}

<center>
    <br /><br />
    <h1 class="display-4">&nbsp;eStore</h1>
    <br /><br />
    <form class="form-inline justify-content-md-center">
        <select name="Categories" id="Categories" class="form-control col-sm-auto">
            <option value="All">All Categories</option>
            <option value="Misc">Misc</option>
        </select>
        &nbsp;
        <input type="search" id="search" class="form-control col-sm-5" placeholder="Search" />
        &nbsp;
        <button type="button" class="btn btn-outline-primary">
            Go
        </button>
    </form>
    <br /><br />
</center>

