#search-navbar {
    margin-left: 10px;
}

#categories-navbar {
    margin-left: 10px;
}

a {
    color: #0366d6;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.container-cust {
    max-width: 100%  !important;
    margin-left: 0px !important;
    min-width: 900px !important;
}

.navbar-cust {
    color: lightgrey !important;
}

/* Registration button in _Layout */
.btn-reg {
    color: #fff;
    background-color: rgb(54 140 167);
    border-color: rgb(54 140 167);
}
.btn-reg:hover {
    color: #fff;
    background-color: rgb(107 180 189);
    border-color:  rgb(107 180 189);
}
.btn-reg:focus, .btn-reg.focus {
    box-shadow: 0 0 0 .2rem rgba(0,90,90,0.5);
}
.btn-reg.disabled, .btn-reg:disabled {
    color: #fff;
    background-color: teal;
    border-color: #005a5a;
}
.btn-reg:not(:disabled):not(.disabled):active, .btn-reg:not(:disabled):not(.disabled).active, .show > .btn-reg.dropdown-toggle {
    color: #fff;
    background-color: #00b3b3;
    border-color: #000
}
.btn-reg:not(:disabled):not(.disabled):active:focus, .btn-reg:not(:disabled):not(.disabled).active:focus, .show > .btn-reg.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0,90,90,0.5)
}
/* Registration button END */

/* Sign in button in _Layout */
.btn-signin {
    color: #fff;
    background-color: rgb(156 156 156);
    border-color: rgb(156 156 156);
}
.btn-signin:hover {
    color: #fff;
    background-color: rgb(184 184 184);
    border-color: rgb(184 184 184);
}
.btn-signin:focus, .btn-signin.focus {
    box-shadow: 0 0 0 .2rem rgba(0,90,90,0.5);
}
/* Sign in button END */

/* Sell button */
.btn-sell {
    color: #fff;
    background-color: rgb(57 174 95); 
    border-color: rgb(57 174 95);
}
.btn-sell:hover {
    color: #fff;
    background-color: rgb(42 211 51); 
    border-color: rgb(42 211 51);
}
.btn-sell:focus, .btn-sell.focus {
    box-shadow: 0 0 0 .2rem rgba(0,90,90,0.5);
}
/* Sell button END */

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.field-validation-error {
    color: red;
    font-size: smaller;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


/* Template begin
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
