@{
    ViewData["Title"] = "Dashboard";
    ViewData["ShowSearchInNavbar"] = true;
}

<br />
<center>
    <h3 class="pt-3">Dashboard</h3>
    <br /><br />
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" href="#">Items you are selling</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Purchase history</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Saved listings</a></li>
    </ul>
</center>

